<div class="aboutme-view" id="aboutme">

    <div class="aboutme-content">
        <h2 style="font-family: 'Nourd-Heavy', sans-serif; font-size: 2em;">About Me</h2>

        <div class="aboutme-description">

            <img src="../../../assets/aboutme/profile.png" alt="prof-pic" style="position: absolute; border-radius: 50%;">

            <p>Adept at algorithmic problem-solving. I learn best through communication and collaboration, swiftly mastering new 
                concepts. My portfolio showcases my quick learning abilities and dedication to software engineering excellence.</p>
            
            <ul>
                <li>Student of Software Engineering</li>
                <li><a href="https://cert.efset.org/B1frtx" target="_blank" style="font-weight: bolder;color: red;text-decoration: none;">C2 Proficient English Level</a></li>
                <li>Studying: Preparing to AWS Certificate</li>
            </ul>

        </div>

    </div>

</div>