.projects-view {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/general/background-aboutme.png');
    background-size: cover;
    background-position: center;
    background-color: #FDFDFD;
}

.projects-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-box {
    display: flex;
    width: 70vw;
    height: 60vh;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
}

.project {
    display: block;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    border: 1px solid;
    padding: 10px;
}