@font-face {
    font-family: 'Nourd-Regular';
    src: url('../src/assets/fonts/Nourd/nourd_regular.ttf');
}
@font-face {
    font-family: 'Nourd-Light';
    src: url('../src/assets/fonts/Nourd/nourd_light.ttf');
}
@font-face {
    font-family: 'Nourd-Medium';
    src: url('../src/assets/fonts/Nourd/nourd_medium.ttf');
}
@font-face {
    font-family: 'Nourd-Semi-Bold';
    src: url('../src/assets/fonts/Nourd/nourd_semi_bold.ttf');
}
@font-face {
    font-family: 'Nourd-Bold';
    src: url('../src/assets/fonts/Nourd/nourd_bold.ttf');
}
@font-face {
    font-family: 'Nourd-Heavy';
    src: url('../src/assets/fonts/Nourd/nourd_heavy.ttf');
}

body {
    font-family: 'Nourd-Regular', sans-serif;
    overflow-x: hidden;
}



html {
    scroll-behavior: smooth;
  }
  
  /* Estilos adicionais para customização do scroll */
  /* Por exemplo, você pode adicionar uma cor de fundo, uma sombra ou bordas */
  body {
    background-color: #f0f0f0; /* Cor de fundo */
  }
  
  /* Estilo para a barra de rolagem */
  /* Aqui você pode personalizar a aparência da barra de rolagem */
  ::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do polegar da barra de rolagem ao passar o mouse */
  }